<template>
    <div style="border: 1.33px solid black;">
        {{ greeting }}
    </div>
</template>

<script>
    export default {
        data() {
            return {
                greeting: "Hello World"
            }
        }
    }
</script>