<template>
    <div>
        <router-link to="/organizations">Go to organizations</router-link>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                greeting: "Hello World"
            }
        }
    }
</script>